*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
/* -----------nav--------- */
.mainnav{
    height: 80px;
    background-color: white;
    line-height: 80px;
    padding: 0 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.mainnav::after{
    content: "";
    clear: both;
    display: table;
}
.logo{
    position: relative;
    top: 5px;
}
.nav1{
    float: left;
}
.nav2{
    float: right;
}

nav ul li{
    display: inline-block;
    margin: 0 20px;
} 

nav a:hover{
    color:rgb(52, 52, 52);
    transition: 0.5s;
}
/* -----------sc1--------- */
.sc1{
    margin-top: px;
    min-height: 500px;
    background-color: #b4d0e7;
    padding: 0 10%;
}
.sc1::after{
    content: "";
    clear: both;
    display: table;
}
.sc1 h2{
    font-size: 70px;
    font-weight: 600;
    padding-top: 100px;
}
.sc1container{
    width: 25%;
    display: inline-block;
    float: left;
    padding-top: 60px;
}
.sc1subc{
    margin: 20px 0;
}
.sc1img{
    display: inline-block;
    position: relative;
    top: 60px;
    width: 70%;
}
.sc1icona{
    scroll-behavior: smooth;
    font-size: 40px;
    color: black;
}
/* -----------sc2--------- */
.sc2{
    min-height: 1000px;
    background-color: #ffffff;
    padding: 0 15%;
    padding-top: 150px;
}
.sc2foot{
    min-height: 50px;
    border: 1px solid rgb(228, 228, 228);
    margin-bottom: 20px;
}
.sc2head{
    height: 50px;
}

.sc2subc{
    margin: 2% 0;
}


.sc2left{
    border: 1px solid rgb(228, 228, 228);
    float: left;
    width: 30%;
    min-height: 1000px;
}

.sc2leftmid{
    border: 1px solid rgb(228, 228, 228);
    float: left;
    width: 30%;
    min-height: 1000px;
    margin: 0 5%;
}

.sc2subc::after{
    content: "";
    clear: both;
    display: table;
}
.sc2lefthead{
    border-bottom: 1px solid rgb(228, 228, 228);
    height: 30px;
    line-height: 30px;
    text-align: center;
}
.sc2head label{
    margin-right: 10px;
}
.sc2leftmargin{
    margin: 30px;
}
.sc2ul li{
    margin: 10px 0;
}
.sc2ul2 li{
    margin: 30px 0;
}
.sc2ul2 li hr{
    width: 60px;
    border: 1px solid rgb(228, 228, 228);
}
table{
    margin-top: 20px;
    margin-bottom: 50px;
}
tr{
    height: 50px;
}
.mark{
    color: #0061FF;
}
.sc2footermargin *{
    padding: 10px;
}
/*--btn--------- */
.btn1{
    background-color: #0061FF;
    color: white;
    padding: 10px 15px;
    text-align: center;
}

.btn1:hover{
    background-color: #3b85fe;
    color: white;
}

.sc2foot .btn1{
    float: right;
}
.sc2foot .bold{
    font-size: 20px;
}
/* -------text-------------- */
.textbig{
    font-size:40px ;
    font-weight: 700;
    margin-bottom: 70px;
}
.textmed{
    font-size:24px ;
    font-weight: 700;
}

.bold{
    font-weight: 900;
}
.semibold{
    font-weight: 700;
}
.greytext{
    color: grey;
}
.bluetext{
    color: #0061FF;
}
